<div class="table-responsive">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Desa</th>
                <th class="text-center">TPS</th>
                <th class="text-center">Laki-Laki</th>
                <th class="text-center">Perempuan</th>
                <th class="text-center">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lawang</td>
                <td class="text-center">1</td>
                <td class="text-center">10</td>
                <td class="text-center">10</td>
                <td class="font-weight-bold text-center">20</td>
            </tr>
            <tr>
                <td>Lawang</td>
                <td class="text-center">2</td>
                <td class="text-center">10</td>
                <td class="text-center">10</td>
                <td class="font-weight-bold text-center">20</td>
            </tr>
            <tr>
                <td>Lawang</td>
                <td class="text-center">3</td>
                <td class="text-center">10</td>
                <td class="text-center">10</td>
                <td class="font-weight-bold text-center">20</td>
            </tr>
            <tr>
                <td>Bedali</td>
                <td class="text-center">1</td>
                <td class="text-center">10</td>
                <td class="text-center">10</td>
                <td class="font-weight-bold text-center">20</td>
            </tr>
            <tr>
                <td>Ketindan</td>
                <td class="text-center">1</td>
                <td class="text-center">10</td>
                <td class="text-center">10</td>
                <td class="font-weight-bold text-center">20</td>
            </tr>
            <tr>
                <td colspan="2" class="font-weight-bold text-right">Total</td>
                <td class="font-weight-bold text-center">50</td>
                <td class="font-weight-bold text-center">50</td>
                <td class="font-weight-bold text-center">100</td>
            </tr>
        </tbody>
    </table>
</div>