#table-list-voter th, #table-list-voter td {
    min-width: 100px;
}

#table-list-voter thead th {
    background: #F6F6F6;
}

#table-list-voter tbody td {
    background: #fbfbfb;
}

#btn-add {
    margin-top: -10px;
}