<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-title">{{voterTypeName}} {{districtName}}</h1>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary" id="btn-add" [routerLink]="['/add-voter', voterTypeId]"><em
                    class="fa fa-plus"></em> Tambah Pemilih</a>
        </div>
        <div class="col-md-12">
            <app-counter></app-counter>
        </div>
        <div class="col-md-12">
            <app-form-filter></app-form-filter>
        </div>
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-stripped" id="table-list-voter">
                            <thead>
                                <tr>
                                    <th>NIK</th>
                                    <th>No KK</th>
                                    <th>Nama</th>
                                    <th>Tempat Lahir</th>
                                    <th>Tanggal Lahir</th>
                                    <th>Jenis Kelamin</th>
                                    <th>Status Perkawinan</th>
                                    <th>Alamat</th>
                                    <th>RT</th>
                                    <th>RW</th>
                                    <th>Desa</th>
                                    <th>Kecamatan</th>
                                    <th>TPS</th>
                                    <th>TMS</th>
                                    <th>Coklit</th>
                                    <th class="text-center">KTP EL</th>
                                    <th class="text-center">Pemilih Baru</th>
                                    <th class="text-center">Pemilih Pemula</th>
                                    <th>Disabilitas</th>
                                    <th>Ubah Data</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1111</td>
                                    <td>1111</td>
                                    <td>Wahyu</td>
                                    <td>Malang</td>
                                    <td>01-01-1990</td>
                                    <td>Laki-Laki</td>
                                    <td>Belum Kawin</td>
                                    <td>Jl Ngamarto RT 05 RW 02 Lawang</td>
                                    <td>05</td>
                                    <td>02</td>
                                    <td>Kelurahan Lawang</td>
                                    <td>Lawang</td>
                                    <td>
                                        <select class="form-control" name="tps[]">
                                            <option value="{{val.id}}" *ngFor="let val of listTps">{{val.id}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="tms[]">
                                            <option value="{{val.id}}" *ngFor="let val of listTms">{{val.id}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="coklit[]">
                                            <option value="{{val.id}}" *ngFor="let val of listCoklit">{{val.id}}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check" for="ktp_el">
                                            <input type="checkbox" name="ktp_el[]" class="form-check-input"
                                                id="ktp_el" />
                                            <label class="form-check-label" for="ktp_el">
                                                Belum
                                            </label>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check" for="pemilih_baru">
                                            <input type="checkbox" name="pemilih_baru[]" class="form-check-input"
                                                id="pemilih_baru" />
                                            <label class="form-check-label" for="defaultCheck2">
                                                Ya
                                            </label>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check" for="pemilih_pemula">
                                            <input type="checkbox" name="pemilih_pemula[]" class="form-check-input"
                                                id="pemilih_pemula" />
                                            <label class="form-check-label" for="defaultCheck2">
                                                Ya
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" name="coklit[]">
                                            <option value="{{val.id}}" *ngFor="let val of listDisabilitas">{{val.id}}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <span class="text-warning">U</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check" for="status_pengecekan">
                                            <input type="checkbox" name="status_pengecekan[]" class="form-check-input"
                                                id="status_pengecekan" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>