<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 counter">
                <span>Total Jumlah Pemilih</span>
                <span class="text-right font-weight-bold">{{total}}</span>
            </div>
            <div class="col-md-4 counter border">
                <span>Sudah Coklit</span>
                <span class="text-right text-success font-weight-bold">{{totalCoklit}}</span>
            </div>
            <div class="col-md-4 counter">
                <span>Belum Coklit</span>
                <span class="text-right text-danger font-weight-bold">{{totalNonCoklit}}</span>
            </div>
        </div>
    </div>
</div>