.btn-group .btn-primary {
    color: #0D6EFD;
    background-color: #ffffff;
    border-color: #0D6EFD;
}

.btn-group .btn-primary.active {
    color: #fff;
    background-color: #0257d5;
    border-color: #0252c9;
}

.card-footer {
    border-top: 1px solid #eee;
}