<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label for="nik">NIK</label>
                        <input type="text" class="form-control" id="nik" placeholder="Cari NIK">
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label for="rt">RT</label>
                        <input type="text" class="form-control" id="rt" placeholder="Cari Berdasar RT">
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label for="rw">RW</label>
                        <input type="text" class="form-control" id="rw" placeholder="Cari Berdasar RW">
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="form-group">
                        <label for="tps">TPS</label>
                        <select class="form-control" id="tps" placeholder="Cari Berdasar TPS">
                            <option value="">Semua TPS</option>
                            <option *ngFor="let val of listTps" value="{{val.id}}">{{val.id}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-2">
                    <div class="form-group">
                        <label for="button">&nbsp;</label>
                        <div id="button">
                            <button type="button" class="btn btn-primary mr-2"><em class="fa fa-search"></em>
                                Cari</button>
                            <button type="button" class="btn btn-primary mr-2" (click)="openModal(modalFilter)"><em
                                    class="fa fa-filter"></em> Filter</button>
                            <button type="button" class="btn btn-success"><em class="fa fa-file-excel"></em>
                                Export</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #modalFilter let-modal class="full-height">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filter</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="status_kawin">Status Perkawinan</label>
                <select class="form-control" id="status_kawin">

                </select>
            </div>
            <div class="form-group">
                <label for="status_coklit">Status Coklit</label>
                <select class="form-control" id="status_coklit">

                </select>
            </div>
            <div class="form-group">
                <label for="pemilih_baru">Pemilih Baru</label>
                <select class="form-control" id="pemilih_baru">

                </select>
            </div>
            <div class="form-group">
                <label for="pemilih_pemula">Pemilih Pemula</label>
                <select class="form-control" id="pemilih_pemula">

                </select>
            </div>
            <div class="form-group">
                <label for="tms">TMS</label>
                <select class="form-control" id="tms">

                </select>
            </div>
            <div class="form-group">
                <label for="disabilitas">Disabilitas</label>
                <select class="form-control" id="disabilitas">

                </select>
            </div>
            <div class="form-group">
                <label for="perubahan_data">Perubahan Data</label>
                <select class="form-control" id="perubahan_data">

                </select>
            </div>
            <div class="form-group">
                <label for="status_pengecekan">Status Pengecekan</label>
                <select class="form-control" id="status_pengecekan">

                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Tutup</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Terapkan</button>
    </div>
</ng-template>